<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> How To Win Prizes</h4>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Your Player Code :
              <strong>{{playerCode}}</strong>
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<section class="content">
		<div class="container text-center mid-blocks">
		
			<article class="instruction-item">
				<h3 class="instruction-heading">Step 1) Choose a game or reward</h3>
				<p>In the <a routerLink="/games">Games</a> tab inside your account, search for a game or reward that interests you.</p>
				<p>Click on the 'play' button under the relevant game and install on your device or PC.</p>
				<p>Once downloaded enter the game.</p>
			</article>
			
			<br />

			<article class="instruction-item">
				<h3 class="instruction-heading">Step 2) Enter your unique player code into the game settings</h3>
				<p>Inside every game that is connected to the RaidParty reward network, will provide you an area in the settings to enter your unique 7 character player code.</p>
				<p>Look for 'RaidParty Settings' or 'RaidParty Connection' for example, submit your code and await the confirmation that you have been successfully connected.</p>
				<p>This is critical for your game play to be tracked properly and be in with a chance of winning the big jackpot prizes.</p>
			</article>
			
			<br />
			
			<article class="instruction-item">
				<h3 class="instruction-heading">Step 3) Play the game!</h3>
				<p>Once you are connected, simply start playing the game and try to complete the challenges to get entered into the prize draws.</p>
				<p>You will need to do things like complete certain levels, defeat bosses or get high on the leaderboards...</p>
			</article>
			
		</div>
	</section>
	<!-- /.content -->
	
</div>