
<div class="body-bg">
	<div class="container">
		<div class="row"> 
 				<div class="col-11 col-md-8 m-auto">
 			<div class="form-bg mt-5  ">
		    <div class="pt-5 pb-5">
            <a href=""><img src="/assets/images/logo.png"></a>
          </div>
          <form [formGroup]="forgotPasswordForm">
            <div class="form-heading mb-4">
              <h3> Forgot Password </h3>
              <p>Dont worry.Resetting your password is easy,just tell us the email address you registered.</p>
            </div>
            <div class="custom-form">
              <div class="form-group">
                <input type="email" name="" class="form-control" placeholder="email address">
              </div>
              <div class="button">
                <a href="javascript:history.back()" class="btn signin-btn"> Send </a>
              </div>
              <div class="button pb-5 pt-4">
                <a href="javascript:history.back()" class="btn btn-signup"> Back </a>
              </div>
            </div>
          </form>
      </div>
</div>
</div>
</div>
