<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> Latest Game Activity</h4>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Your Player Code :
              <strong>{{playerCode}}</strong>
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">

        <div class="col-lg-3 col-sm-6 col-12" *ngFor="let game of playerGames">
          <div class="card card-info card-outline">
            <img class="img-fluid" src={{game.avatar}}>
            <div class="jackpot-prize">
              <img src="/assets/images/jackpot-icon.svg" alt="jackpot-icon"> Top Prize:
              <span>{{game.jackpot}}</span>
            </div>
            <li class="list-group-item game-title-li">
              <h3>{{game.title}}</h3>
              <div class="game-description" [innerHTML]="game.description">
              </div>
            </li>
            <li class="list-group-item popover-hover">
              <button (click)="gameRewardProgress(game.prizes)" type="button" class="popover-btn" data-toggle="collapse" [attr.data-target]="'#' + game.game_id">
                <b>Rewards</b>
                <a class="float-right"> 0/{{game.prizes.length}}</a>
              </button>
              <div id={{game.game_id}} class="collapse">
                <ul class="p-0 mt-2 ">
                  <li class="list-group-item popover-hover mt-2" *ngFor="let reward of game.prizes; let rowIndex=index">
                    <ng-template #popContent>
                      <div [innerHTML]="reward.rules">
                      </div>
                    </ng-template>
                    <button type="button " class="popover-btn " [ngbPopover]="popContent " triggers="mouseenter:mouseleave " popoverTitle={{game.title}}>
                      <b>Reward {{rowIndex+1}} </b>
                      <a class="float-right "> {{reward.value}} {{reward.currency}} </a>
                      <div class="progress progress-xs mt-2 ">
                        <div class="progress-bar bg-info progress-bar-striped " role="progressbar " aria-valuenow="60
                      " aria-valuemin="0 " aria-valuemax="100 " [style.width]="reward.progress + '%' ">
                          <span class="sr-only ">60% Complete (warning)</span>
                        </div>
                      </div>
                    </button>
                    <!-- <button class="popover-btn " data-toggle="popover " data-html="true
                      " title={{game.title}} [attr.data-content]="reward.rules ? reward.rules : '' ">
                      <b> Reward {{rowIndex+1}} </b>
                      <a class="float-right "> {{reward.value}} {{reward.currency}} </a>
                      <div class="progress progress-xs mt-2 ">
                        <div class="progress-bar bg-info progress-bar-striped " role="progressbar " aria-valuenow="60
                      " aria-valuemin="0 " aria-valuemax="100 "
                          [style.width]="reward.pregress + '%' ">
                          <span class="sr-only ">60% Complete (warning)</span>
                        </div>
                      </div>
                    </button> -->
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div>
	<!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>